@media (max-width: 980px) {

    
    .main-banner p {
        white-space: wrap;  
    }

    input[type=button] 
    {
        width: 100%;
    }
    
    .header {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }


    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2px;
        justify-self: normal;
    }

    .row {
        grid-template-columns: 1fr 1fr;
    }


}


