

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    gap: 15px 15px;
}


.column {
    background-size: contain;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: row;
    place-content: center;
    padding: 10px;
    background-attachment: fixed;
}


.redes {
    display: flex;
    gap: 5px;
}
